<div class="container-fluid">

    <label class="switch">
        <input type="checkbox" ng-click="profileCtrl.toggleDisplay()">
        <span class="slider round">
            <span class="profile" ng-show="!profileCtrl.showProfile">PROFILE</span>
            <span class="map" ng-show="!profileCtrl.showMap">MAP</span>
        </span>
    </label>

    <a href="/uploadPhoto"><button type="button" class="btn btn-primary">Upload Photo</button></a>

    <div class="container text-center" ng-show="profileCtrl.showProfile">
        <div class="page-header">
            <h1>{{mainCtrl.username}}'s Profile</h1>
        </div>


        <button type="button" class="btn btn-primary" ng-click="profileCtrl.loadPictures(mainCtrl.username)">Load Pictures</button>
        <img src="" id="StoredImages" />

        <div id="profileImagesId"></div>
    </div>

    <div class="MapboxApi" ng-show="profileCtrl.showMap">
        <div mapbox></div>
    </div>

</div>
